/* Стилизация кнопки */
.button{
    border-radius: 8px;
    padding: 15px 20px 14px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 19px;
    text-align: center;
}

.button__primary{
    color: var(--button-primary-text);
    background: var(--button-primary-background);
}

.button__secondary{
    color: var(--button-secondary-text);
    background: var(--button-secondary-background);
}

.button__alternate{
    color: var(--button-alternate-text);
    background: var(--button-alternate-background);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.button__primary:hover:not(:disabled) {
    background: #2342C0;
}

.button__secondary:hover:not(:disabled) {
    background: #5028C6;
}
