/* Стилизация аккордеона */
.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__summary {
    list-style: none;
    font-family: 'Inter';
}

.accordion__item {
    font-family: 'Inter';
    margin: 16px 16px 0 0;
}

.accordion{
    padding: 24px 32px 32px 32px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}
