.modal {
    opacity: 0.5;
    background: #C4C4C4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__wrapper {
    background: #FFFFFF;
    border-radius: 8px;
    min-width: 50vw;
    min-height: 38vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modal__close {
    top: 3.5%;
    right: 3.5%;
    position: absolute;
}

.modal__info {
    padding: 30px 40px;
}

.modal__tittle {
    margin-bottom: 14px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.modal__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}