.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}

.tooltip__bubble {
    width: max-content;
    display: none;
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    position: absolute;
    top:calc(100% + 5px);
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 6px solid #4263EB;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}